*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family:'onest', sans-serif;
}

a:hover {
	opacity: 0.4;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

li {
	text-decoration: none;
	list-style-type: none;
	margin: 0;
}