footer{
  background-color: #333;
	color: #fff;
	padding: 120px;
  text-align: left;
}

.footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.footer-column {
  margin: 0 40px;
}

.footer-column:last-child {
  margin-bottom: 0;
}

.footer-column h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 100px;
}


.footer-column a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  line-height: 1.5;
  margin-bottom: 10px;
  opacity: 0.4;
}

.footer-column a:hover{
  opacity: 0.1;
}




/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  footer{
    padding: 10px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
  
/* Landscape phones and smaller */
@media (max-width: 480px) {
  .footer-column h3 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  
  
  .footer-column a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: none;
    line-height: 1.5;
    margin-bottom: 10px;
    opacity: 0.4;
  }
}
  
/* Small phones */
@media (max-width: 320px) {
  
} 