.header-background {
    position: relative;
    margin: 0 auto;
    background-image: linear-gradient(to right, #6a93ee, #4b6eb9);
}

.header-container {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: auto;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    border-bottom: solid #eeeeee 3px;
}


.logo-cont {
    text-transform: uppercase;
    color:#eeeeee;
    font-weight: 900;
    font-size: 18px;
}

.logo {
    color:#eeeeee;
    font-weight: 900;
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 10px;
}

.politech{
    border-left: solid 3px #eeeeee;
}

.img-header {
    width: 32px;
    margin-top: 4px;
    margin-left: 10px;
}





/*ДЛЯ ДОП САЙТОВ С АУДИТОРИЯМИ*/
.header-background-audiences{
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right, #6a93ee, #4b6eb9);
}

.header-container-audiences {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: auto;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    border-bottom: solid #eeeeee 3px;
}
/*ДЛЯ ДОП САЙТОВ С АУДИТОРИЯМИ*/



  
  
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .politech{
        border-left: 0;
        margin-top: 20px;
    }

    .header-navbar{
        display: grid;
        grid-template-columns: auto;
    }
    
    .logo-cont {
        display: flex;
        flex-flow: row wrap;
        width: 24%;
        font-weight: 900;
        font-size: 18px;
    }

    .logo{
        padding-left: 0;
        padding-right: 0;
    }
}
  
/* Landscape phones and smaller */
@media (max-width: 670px) {
    .header-navbar{
        display: grid;
        grid-template-columns: auto;
    }

}
  
/* Small phones */
@media (max-width: 320px) {
  
} 